.list {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 27.51px;
    margin-top: 27.51px;

    &--rectangle {
      margin-top: 14.97px;
      margin-right: 15.13px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(17, 17, 17, 0.8);
      height: 42.11px;
      width: 69.04px;
      border-radius: 100px;
      // z-index: 50;
      // position: relative;
      // transform: translate(130px, 60px);
    }
    &--number {
      text-align: center;
      font-size: 24px;
      color: $white;
      font-family: $text-font;
      line-height: 28.13px;
    }
  }
  &__img {
    background-color: #eeeeee;
    width: 366px;
    height: 281.98px;
    background-size: cover;
    background-position: center;
    border: 1px solid #eeeeee;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
  }
}
