//text-font
$text-font: "Roboto", sans-serif;
$title-font: "Lobster Two", cursive;
//colors
$gray: #637878;
$white: white;
$border-color: #eeeeee;
$box-rectangle-color: rgba(17, 17, 17, 0.8);
$yellow: rgb(243, 223, 107);
