.header {
  height: 64px;
  background-color: $yellow;
  position: fixed;
  top: 0px;
  z-index: 999;
  transition: height 0.3s ease;
  @include desktop {
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.3s ease;
  }
}

//headerCollapse
.header.small {
  height: 48px;
  transition: height 0.3s ease;

  @include desktop {
    height: 72px;
    display: flex;
    align-items: center;
    transition: height 0.3s ease;
  }
}
