.header {
  &__title {
    text-align: center;
    font-size: 32px;
    color: $white;
    font-family: $text-font;
    padding: 13px;
    @include desktop {
      text-align: left;
      font-size: 48px;
      padding: 24px 1218px 24px 32px;
    }
  }
}
.small {
  font-size: 24px;
  @include desktop {
    font-size: 32px;
  }
}
