.author-name {
  display: none;
  @include desktop {
    padding: 20px;
    display: flex;
    align-items: flex-end;
    background-color: rgba(255, 255, 255, 0.11);
    width: 384px;
    height: 336px;
    position: absolute;
    color: $white;
    opacity: 0;
    transition: 0.5s ease;
  }
  &__author {
    @include desktop {
      text-align: start;
      // padding-right: 55px;
      font-size: 10px;
      font-family: $text-font;
      text-shadow: 4px 4px 3px $gray;
    }
  }
  &__icon {
    @include desktop {
      display: inline;
      font-size: 15px;
    }
  }
}
// .author-name:hover {
//   opacity: 1;
//   // z-index: 2;
// }
