.author-name {
  display: none;
  @include desktop {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.11);
    width: 384px;
    height: 336px;
    position: absolute;
    color: $white;
    opacity: 0;
    transition: 0.5s ease;
    z-index: 999;
  }
  &__author {
    @include desktop {
      // text-align: end;
      font-size: 20px;
      font-family: $text-font;
      text-shadow: 4px 4px 3px $gray;
    }
  }
  &__icon {
    @include desktop {
      display: inline;
      font-size: 20px;
    }
  }
}
.author-name:hover {
  opacity: 1;
  z-index: 999;
}
