.list {
  &__img {
    background-color: #eeeeee;
    width: 366px;
    height: 281.98px;
    background-size: cover;
    background-position: center;
    border: 1px solid #eeeeee;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
  }
}
